@media only screen and (max-width: 600px) {
  .hidden-select {
    display: none !important;
  }

  .navbar-search-line > form > input {
    border-right: 0;

  }

  .navbar-search-line {
    flex: 1 0 auto;
    /*min-width: 350px;*/
  }
}

@media only screen and (min-width: 960px) {
    .navbar-first-line > div {
        height: 100%;
    }

    .navbar-search-line {
        padding: 0.75rem;
    }

    .navbar-search-line form, .navbar-search-line button, .navbar-search-line select, .navbar-search-line input {
        height: 100%;
    }

    .navbar-select {
        line-height: 32px;
    }

    .piker-logo {
        text-align: right;
        padding-right: 2rem;
    }

    .piker-logo > img {
        width: 11rem;
    }
}

.navbar-select {
  border: 1px solid #ced4da;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
}

.navbar-search-button {
  /*border: 1px solid #ced4da;*/
  border: 0 !important;
  font-weight: 500;
}



