@media only screen and (max-width: 600px) {
  .hidden-select {
    display: none !important;
  }

  .navbar-search-line > form > input {
    border-right: 0;

  }

  .navbar-search-line {
    flex: 1 0 auto;
    /*min-width: 350px;*/
  }
}

/*@media only screen and (max-width: 400px) {*/
/*.navbar-search-line{*/
/*min-width: 50px;*/
/*}*/
/*}*/

.navbar-select {
  border: 1px solid #ced4da;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
}

.navbar-search-button {
  /*border: 1px solid #ced4da;*/
  border: 0 !important;
  font-weight: 500;
}

